torch
transformers
sentencepiece
datasets
accelerate
sacremoses
indic-nlp-library
inltk
pyphen
nltk
sentence-transformers
bert-score
sacrebleu
regex
unidecode
pandas
numpy
tqdm
peft
bitsandbytes
trl
epitran
notebook
google-generativeai
